# Tweet-generator for #66DaysofData

In this notebook I will train a <a href="https://openai.com/blog/better-language-models/">GTP-2</a> model with collected tweets. I collected almost 15000 tweets form the #66DayofData-challenge on Twitter. You can read about the process on my <a href="https://markusmueller-ds.github.io/portfolio/66days_analysis.html">website</a>. The goal is to create a tweet generator based on this dataset.

The creator of the <a href="https://github.com/minimaxir/gpt-2-simple">gtp-2-simple</a> libary publisched a great <a href="https://minimaxir.com/2020/01/twitter-gpt2-bot/">blog post</a> explaining the process of using GTP-2 to create a tweet generator. 

### What is GPT-2?
> GPT-2 is a large transformer-based language model with 1.5 billion parameters, trained on a dataset of 8 million web pages (40GB text data).

### Trainings-parameters
25.04.2021
- model: '124M'
- steps: 2000
- run_name: 'run1'

Training time: 01:18
Evaluation: avg loss =1.20

## Imports

In [1]:
%tensorflow_version 1.x
!pip install -q gpt-2-simple
import gpt_2_simple as gpt2
from datetime import datetime

TensorFlow 1.x selected.
WARNING:tensorflow:
The TensorFlow contrib module will not be included in TensorFlow 2.0.
For more information, please see:
  * https://github.com/tensorflow/community/blob/master/rfcs/20180907-contrib-sunset.md
  * https://github.com/tensorflow/addons
  * https://github.com/tensorflow/io (for I/O related ops)
If you depend on functionality not listed there, please file an issue.

In [2]:
gpt2.mount_gdrive()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
# check gpu
# best case: Nvidia P100 GPU
!nvidia-smi

Sun Apr 25 08:24:43 2021
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 465.19.01    Driver Version: 460.32.03    CUDA Version: 11.2     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|                               |                      |               MIG M. |
|===============================+======================+======================|
|   0  Tesla T4            Off  | 00000000:00:04.0 Off |                    0 |
| N/A   63C    P8    11W /  70W |      0MiB / 15109MiB |      0%      Default |
|                               |                      |                  N/A |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                                  |
|  GPU   GI   CI        PID   Type   Process name                  GPU Memory |
|        ID   ID                                                   Usage      |
|=============================================================================|
|  No running processes found                                                 |
+-----------------------------------------------------------------------------+

## Load and prepare data

In [3]:
import numpy as np
import pandas as pd

In [4]:
data = pd.read_csv('/content/drive/MyDrive/66Days-Generator/finalFrame.csv')

In [5]:
data

                  tweet_id              user_id  ... retweets favorite
0      1299601482749181952  1292469347370360839  ...        0        1
1      1299734773456203777  1159830350102781953  ...       51      269
2      1299735515923505153            719854244  ...        0        1
3      1299735809004769282  1001046433695285249  ...        0        2
4      1299736210575769605           1652520728  ...        0        1
...                    ...                  ...  ...      ...      ...
17241  1381306986067750918   731856877139558400  ...        1       14
17242  1381326847527550983            324583975  ...        0        1
17243  1381336589641646083  1300492664308146176  ...        0        5
17244  1381338886241157124  1282311789464760321  ...       10        5
17245  1381343032751046658             32453704  ...        0        0

[17246 rows x 7 columns]

In [6]:
data.duplicated('tweet_id').sum()

2500

In [7]:
# drop duplicates
data = data.drop_duplicates(subset=['tweet_id'], keep='last')

In [8]:
# frop unrelevant columns
data = data[['full_text']]

In [9]:
data.reset_index(inplace=True, drop=True)

In [10]:
data

                                               full_text
0            @KenJee_DS looking forward to #66DaysOfData
1      Very excited to announce the #66daysofdata ini...
2                @KenJee_DS Looking fwd to #66Daysofdata
3      Let‚Äôs start #66daysofdata https://t.co/IPm1WhHaHB
4                   @KenJee_DS count me in #66daysofdata
...                                                  ...
14741  R2: #66daysofdata with @KenJee_DS \n\nDay 27: ...
14742  Days 16-18(R2) of #66daysofdata by @KenJee_DS\...
14743  Day 40 of  #66DaysOfData r2:\n\nread the first...
14744  Day 4 of #100DaysOfCode ; #66daysofdata \n   ‚úî...
14745  Day 14 of #66DaysOfData:\n- Skillfactory cours...

[14746 rows x 1 columns]

In [11]:
# remove new line char
data.full_text = data.full_text.replace(r'\n','', regex=True)

In [12]:
data

                                               full_text
0            @KenJee_DS looking forward to #66DaysOfData
1      Very excited to announce the #66daysofdata ini...
2                @KenJee_DS Looking fwd to #66Daysofdata
3      Let‚Äôs start #66daysofdata https://t.co/IPm1WhHaHB
4                   @KenJee_DS count me in #66daysofdata
...                                                  ...
14741  R2: #66daysofdata with @KenJee_DS Day 27: Had ...
14742  Days 16-18(R2) of #66daysofdata by @KenJee_DSF...
14743  Day 40 of  #66DaysOfData r2:read the first sec...
14744  Day 4 of #100DaysOfCode ; #66daysofdata    ‚úîÔ∏èD...
14745  Day 14 of #66DaysOfData:- Skillfactory course-...

[14746 rows x 1 columns]

In [17]:
# save file
data.to_csv('finalData.csv', index=False)

In [18]:
final_data = pd.read_csv('/content/finalData.csv')

In [19]:
final_data

                                               full_text
0            @KenJee_DS looking forward to #66DaysOfData
1      Very excited to announce the #66daysofdata ini...
2                @KenJee_DS Looking fwd to #66Daysofdata
3      Let‚Äôs start #66daysofdata https://t.co/IPm1WhHaHB
4                   @KenJee_DS count me in #66daysofdata
...                                                  ...
14743  R2: #66daysofdata with @KenJee_DS Day 27: Had ...
14744  Days 16-18(R2) of #66daysofdata by @KenJee_DSF...
14745  Day 40 of  #66DaysOfData r2:read the first sec...
14746  Day 4 of #100DaysOfCode ; #66daysofdata    ‚úîÔ∏èD...
14747  Day 14 of #66DaysOfData:- Skillfactory course-...

[14748 rows x 1 columns]

In [36]:
gpt2.encode_csv('/content/drive/MyDrive/66Days-Generator/finalData.csv')

## Train GPT-2
I used the 124M base model. There are more performant modeks but hty use more disk space and are more suitable for longer texts, which is not the case for me.
- Other models: 355M, 774M and 1558M

In [4]:
# downlad model
gpt2.download_gpt2(model_name="124M")

Fetching checkpoint: 1.05Mit [00:00, 242Mit/s]
Fetching encoder.json: 1.05Mit [00:00, 4.91Mit/s]
Fetching hparams.json: 1.05Mit [00:00, 507Mit/s]
Fetching model.ckpt.data-00000-of-00001: 498Mit [00:11, 42.2Mit/s]
Fetching model.ckpt.index: 1.05Mit [00:00, 334Mit/s]
Fetching model.ckpt.meta: 1.05Mit [00:00, 7.97Mit/s]
Fetching vocab.bpe: 1.05Mit [00:00, 6.05Mit/s]

The following code will finetune the GPT-2 model

In [5]:
sess = gpt2.start_tf_sess()

gpt2.finetune(sess,
              dataset='/content/drive/MyDrive/66Days-Generator/csv_encoded.txt',
              model_name='124M',
              steps=2000,
              restore_from='fresh',
              run_name='run1',
              print_every=10,
              sample_every=500,
              save_every=500
              )

WARNING:tensorflow:From /usr/local/lib/python3.7/dist-packages/gpt_2_simple/src/sample.py:17: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
Loading checkpoint models/124M/model.ckpt
INFO:tensorflow:Restoring parameters from models/124M/model.ckpt

  0%|          | 0/1 [00:00<?, ?it/s]

Loading dataset...

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 1/1 [00:04<00:00,  4.61s/it]

dataset has 979860 tokens
Training...
[10 | 29.27] loss=2.89 avg=2.89
[20 | 52.25] loss=2.78 avg=2.83
[30 | 75.78] loss=2.62 avg=2.76
[40 | 98.88] loss=2.63 avg=2.73
[50 | 121.79] loss=2.56 avg=2.69
[60 | 144.93] loss=2.63 avg=2.68
[70 | 168.11] loss=2.44 avg=2.65
[80 | 191.19] loss=2.51 avg=2.63
[90 | 214.29] loss=2.37 avg=2.60
[100 | 237.45] loss=2.44 avg=2.58
[110 | 260.60] loss=2.47 avg=2.57
[120 | 283.76] loss=2.33 avg=2.55
[130 | 306.92] loss=2.41 avg=2.54
[140 | 330.08] loss=2.44 avg=2.53
[150 | 353.21] loss=2.28 avg=2.51
[160 | 376.35] loss=2.42 avg=2.51
[170 | 399.48] loss=2.42 avg=2.50
[180 | 422.61] loss=2.35 avg=2.49
[190 | 445.73] loss=2.30 avg=2.48
[200 | 468.84] loss=2.43 avg=2.48
[210 | 491.96] loss=2.39 avg=2.47
[220 | 515.08] loss=2.19 avg=2.46
[230 | 538.22] loss=2.21 avg=2.45
[240 | 561.36] loss=2.37 avg=2.44
[250 | 584.49] loss=2.20 avg=2.43
[260 | 607.64] loss=2.17 avg=2.42
[270 | 630.74] loss=2.46 avg=2.42
[280 | 653.83] loss=2.08 avg=2.41
[290 | 676.92] loss=2.14 avg=2.40
[300 | 700.03] loss=2.35 avg=2.40
[310 | 723.12] loss=2.23 avg=2.39
[320 | 746.23] loss=2.12 avg=2.38
[330 | 769.38] loss=2.07 avg=2.37
[340 | 792.55] loss=2.23 avg=2.37
[350 | 815.70] loss=2.21 avg=2.36
[360 | 838.83] loss=2.11 avg=2.35
[370 | 861.97] loss=2.11 avg=2.34
[380 | 885.11] loss=2.15 avg=2.34
[390 | 908.24] loss=2.22 avg=2.33
[400 | 931.32] loss=2.10 avg=2.33
[410 | 954.45] loss=2.16 avg=2.32
[420 | 977.61] loss=2.00 avg=2.31
[430 | 1000.76] loss=2.07 avg=2.31
[440 | 1023.92] loss=1.87 avg=2.29
[450 | 1047.06] loss=2.05 avg=2.29
[460 | 1070.15] loss=1.93 avg=2.28
[470 | 1093.24] loss=2.11 avg=2.27
[480 | 1116.36] loss=1.92 avg=2.26
[490 | 1139.50] loss=1.86 avg=2.25
[500 | 1162.63] loss=1.85 avg=2.24
Saving checkpoint/run1/model-500
======== SAMPLE 1 ========
.
Day 23: https://t.co/fL2R8NvWVnI The Ultimate #Titanic #Database #DataScience #Import Data#66daysofdata #DataAnalytics #DeepLearning #pythonprogramming #DataScience #monetization #AI #coding #programmingtwitter #Yahoo‚Äôs API<|endoftext|>
<|startoftext|>Day 25 of #66DaysofData - Finished the Housing Prices Competition üå©Ô∏è<|endoftext|>
<|startoftext|>Day 24 of #66daysofdata !- I went through the 3rd chapter of "Intermediate Machine Learning", by Aur√©lien G√©ron, a must for anyone new to Deep Learning !- I reviewed my book - "Browsing the Brain - Hands-on Machine Learning" @KenJee_DS<|endoftext|>
<|startoftext|>Day 25 of #66daysofdata by Ken attended a conference on Data Engineering https://t.co/4V5NgVQXt9<|endoftext|>
<|startoftext|>Day 15 of #66daysofdata Today I will continue with the 'Importing Data into MySQL' project by @datacamp. I have to admit it was a challenge but I was able to write scripts for the sake of the challenge...<|endoftext|>
<|startoftext|>Day 25 of #66DaysOfDatacompleted some exercises on Python on using 'py4e' to display a chart. #DataCulture https://t.co/N8X0nEtXJg<|endoftext|>
<|startoftext|>D.9 #66daysofdata Read the first chapter of "The hundred-page machine learning book". I've been watching videos on deep learning and how DBM can be used in Artificial Neural Networks.https://t.co/NlP1b3hRzq<|endoftext|>
<|startoftext|>Day 7 of #66DaysofData! Today I‚Äôm going to use R for an interview. A great guide for Data Science Interviews. I just finished my first few videos. https://t.co/jIhBHQzYW6 #R<|endoftext|>
<|startoftext|>Day 25 of #66daysofdata with @KenJee_DS Today I attended @YouTube's "Introduction to Machine Learning with Scratch" @KenJee_DS I have a hard time putting the same skills into some basic stuff... I know I can take more from it than I do from the actual skill level but I know I am missing the big picture.<|endoftext|>
<|startoftext|>Day 27 of #Round2 #66daysofdata  with @KenJee_DS  Continued to explore the concepts of SQL, learned more about using the CASE WHEN operator on strings and how to use CASE WHEN.<|endoftext|>
<|startoftext|>Day 26 of #66DaysOfData! Today I will continue to learn some SQL from Tableau.I started reviewing all the concepts of databases using JOINS on @Kaggle. https://t.co/5F5DgKtLW1g https://t.co/Vr6d6T0jK4<|endoftext|>
<|startoftext|>Day 22: #66daysofdata - Did an exploratory data analysis project on SQLite - Studied about Tableau fundamentals in Python - Learned about SQL and SQLITE - Learnt how to create tables and how to insert and delete data - Learned about GROUP BY operator and JOINS!<|endoftext|>
<|startoftext|>D25. #66DaysofData - Started SQL on Dataquest  on April 1st.Finished working on the EDA project from today.Read about the basic and advanced SQL syntax. #DataScience #Analytics<|endoftext|>
<|startoftext|>Day 23 of #66daysofdataI have revised the basics of #NeuralNetworks (the basics are very similar to #NLP and its derivatives) by practicing some #DeepLearning algorithms (and in general applying them).https://t.co/p0cIqXgPtF<|endoftext|>
<|startoftext|>#Day1 of #66DaysOfData with @KenJee_DS Today I am reading Chapter 8: Creating Neural Network. https://t.co/3t7Kgw

[510 | 1198.77] loss=2.04 avg=2.24
[520 | 1221.90] loss=2.03 avg=2.23
[530 | 1244.96] loss=1.93 avg=2.23
[540 | 1268.08] loss=2.05 avg=2.22
[550 | 1291.20] loss=2.03 avg=2.22
[560 | 1314.35] loss=1.82 avg=2.21
[570 | 1337.50] loss=2.04 avg=2.20
[580 | 1360.64] loss=1.75 avg=2.19
[590 | 1383.77] loss=1.97 avg=2.19
[600 | 1406.89] loss=1.80 avg=2.18
[610 | 1430.00] loss=2.07 avg=2.18
[620 | 1453.13] loss=1.97 avg=2.17
[630 | 1476.23] loss=1.85 avg=2.17
[640 | 1499.30] loss=1.86 avg=2.16
[650 | 1522.37] loss=1.92 avg=2.16
[660 | 1545.48] loss=1.53 avg=2.14
[670 | 1568.59] loss=1.78 avg=2.13
[680 | 1591.73] loss=1.72 avg=2.13
[690 | 1614.85] loss=2.06 avg=2.13
[700 | 1637.97] loss=1.75 avg=2.12
[710 | 1661.09] loss=1.83 avg=2.11
[720 | 1684.23] loss=1.88 avg=2.11
[730 | 1707.35] loss=1.62 avg=2.10
[740 | 1730.50] loss=1.77 avg=2.09
[750 | 1753.64] loss=1.54 avg=2.08
[760 | 1776.75] loss=1.84 avg=2.08
[770 | 1799.88] loss=1.57 avg=2.07
[780 | 1823.02] loss=1.53 avg=2.06
[790 | 1846.13] loss=1.61 avg=2.05
[800 | 1869.26] loss=1.51 avg=2.04
[810 | 1892.38] loss=1.85 avg=2.04
[820 | 1915.48] loss=1.48 avg=2.03
[830 | 1938.58] loss=1.67 avg=2.02
[840 | 1961.70] loss=1.50 avg=2.01
[850 | 1984.80] loss=1.83 avg=2.01
[860 | 2007.90] loss=1.77 avg=2.00
[870 | 2031.00] loss=1.70 avg=2.00
[880 | 2054.10] loss=1.71 avg=1.99
[890 | 2077.19] loss=1.42 avg=1.98
[900 | 2100.28] loss=1.84 avg=1.98
[910 | 2123.37] loss=1.64 avg=1.98
[920 | 2146.45] loss=1.47 avg=1.97
[930 | 2169.54] loss=1.58 avg=1.96
[940 | 2192.63] loss=1.43 avg=1.95
[950 | 2215.70] loss=1.78 avg=1.95
[960 | 2238.78] loss=1.41 avg=1.94
[970 | 2261.85] loss=1.40 avg=1.93
[980 | 2284.92] loss=1.31 avg=1.92
[990 | 2307.98] loss=1.53 avg=1.92
[1000 | 2331.04] loss=1.58 avg=1.91
Saving checkpoint/run1/model-1000
WARNING:tensorflow:From /tensorflow-1.15.2/python3.7/tensorflow_core/python/training/saver.py:963: remove_checkpoint (from tensorflow.python.training.checkpoint_management) is deprecated and will be removed in a future version.
Instructions for updating:
Use standard file APIs to delete files with this prefix.
======== SAMPLE 1 ========
PractualSQLList project with YOLO - using it for training our perceptron models, and then comparing the models. The final model will be announced after extensive study!https://t.co/YpB4N1lLhK<|endoftext|>
<|startoftext|>Day 25 of #66DaysOfData with @KenJee_DS.Continued with the Housing Dataset from Kaggle. Brief overviews of the software in SQL.Also watched the video of @KenJee_DS "A brief introduction to data science project". Interesting video.<|endoftext|>
<|startoftext|>Day 23 of #66daysofdata Today I had time to finish the Kaggle course, Linear Discriminant Analysis (LDA). https://t.co/nhxK2h2n7B<|endoftext|>
<|startoftext|>Day 25 of #66daysofdata -I revised my Statistics for Data Science Kaggle lesson 2, learned about the basic intuition behind the lesson.  I went through several lessons on SVM and Naive Bayes Classifier.<|endoftext|>
<|startoftext|>Day 25 of #66DaysOfDataSQL Revisit: Types of Sub-Strings and Strings in SQL Server@KenJee_DShttps://t.co/3Wt2LlW5j3<|endoftext|>
<|startoftext|>Day 12 of #66daysofdata :Didn't do much today, I worked on a kaggle project for the time being and then I watched a couple of videos on https://t.co/mCfj2L0aN<|endoftext|>
<|startoftext|>Day 24- Watched some video tutorial video in @kaggle- went through examples of how to use @emilykinsey 's clever storytelling video to refresh your memory about data analysis. https://t.co/j3hLJwX5vJ<|endoftext|>
<|startoftext|>Day 24 V_2 of #66DaysOfData with @KenJee_DS(2) :- Watched and learned 2 videos from the https://t.co/Jw2o2VyqT video- Started with @HackerRank and followed by @JackRaifer's (and others') "Hacking the App Market" serieshttps://t.co/5Bc0x2Td4U<|endoftext|>
<|startoftext|>Day 18 of #66daysofdata by @KenJee_DS started with  Dimensionality Reduction. This is a pretty cool application of Linear Classifier to improve a model's precision at low dimensions (less than 0.1). https://t.co/2lLmTfSqLh<|endoftext|>
<|startoftext|>Day 12 of #66daysofdata - Today I continued study about feature scaling. The topic is: How much should a given feature be chosen from the image?<|endoftext|>
<|startoftext|>day 18: As someone who's always looking at teaching small classes in my pet project, I couldn't think of any better way to start #66daysofdata. So I am creating a template for the above and the other 25 pages.#66DaysOfData<|endoftext|>
<|startoftext|>10/66 #66daysofdata  Hi Everyone!I read a few of Chapter 2 (Hands-on Machine Learning with Scikit-Learn, TensorFlow) published by @OReillyMedia on @Medium . Very informative for the people who want to learn something from reading it in full. https://t.co/g3i8eHkqjF<|endoftext|>
<|startoftext|>What is the most important type of feature for Image Import in Python? #100DaysOfCode #100DaysOfMLCode #100daysofcode #66daysofdata #MachineLearning #CodeNewbies #code #DigitalEngineering #code #100DaysOfCode #100DaysOfMLCode #Python #DEVCommunity #100DaysOfCode #AI #computerscience #ArtificialIntelligence #webdev https://t.co/fJfzQZjbVc<|endoftext|>
<|startoftext|>Day 21 of #66daysofdataContinued my udemy python course. Learning more about Data Manipulation with Pandas and Data Comprehensions from @DataCamp<

[1010 | 2365.62] loss=1.39 avg=1.90
[1020 | 2388.76] loss=1.37 avg=1.89
[1030 | 2411.88] loss=1.48 avg=1.89
[1040 | 2434.98] loss=1.41 avg=1.88
[1050 | 2458.08] loss=1.45 avg=1.87
[1060 | 2481.16] loss=1.29 avg=1.86
[1070 | 2504.21] loss=1.43 avg=1.86
[1080 | 2527.28] loss=1.52 avg=1.85
[1090 | 2550.35] loss=1.52 avg=1.85
[1100 | 2573.44] loss=1.56 avg=1.84
[1110 | 2596.54] loss=1.23 avg=1.83
[1120 | 2619.67] loss=1.04 avg=1.82
[1130 | 2642.79] loss=1.46 avg=1.82
[1140 | 2665.89] loss=1.42 avg=1.81
[1150 | 2688.98] loss=1.31 avg=1.80
[1160 | 2712.04] loss=1.29 avg=1.80
[1170 | 2735.11] loss=1.50 avg=1.79
[1180 | 2758.17] loss=1.47 avg=1.79
[1190 | 2781.24] loss=1.13 avg=1.78
[1200 | 2804.32] loss=1.21 avg=1.77
[1210 | 2827.42] loss=1.18 avg=1.76
[1220 | 2850.53] loss=1.36 avg=1.76
[1230 | 2873.65] loss=1.21 avg=1.75
[1240 | 2896.78] loss=1.23 avg=1.74
[1250 | 2919.91] loss=1.22 avg=1.73
[1260 | 2943.08] loss=1.09 avg=1.73
[1270 | 2966.22] loss=1.32 avg=1.72
[1280 | 2989.35] loss=1.18 avg=1.71
[1290 | 3012.46] loss=1.07 avg=1.70
[1300 | 3035.55] loss=1.27 avg=1.70
[1310 | 3058.63] loss=1.04 avg=1.69
[1320 | 3081.69] loss=1.15 avg=1.68
[1330 | 3104.76] loss=1.03 avg=1.67
[1340 | 3127.82] loss=1.34 avg=1.67
[1350 | 3150.90] loss=1.17 avg=1.66
[1360 | 3174.01] loss=1.20 avg=1.65
[1370 | 3197.15] loss=0.89 avg=1.64
[1380 | 3220.30] loss=1.14 avg=1.64
[1390 | 3243.44] loss=1.09 avg=1.63
[1400 | 3266.57] loss=1.16 avg=1.62
[1410 | 3289.70] loss=1.05 avg=1.62
[1420 | 3312.82] loss=1.18 avg=1.61
[1430 | 3335.96] loss=0.96 avg=1.60
[1440 | 3359.06] loss=0.82 avg=1.59
[1450 | 3382.17] loss=1.03 avg=1.58
[1460 | 3405.24] loss=1.14 avg=1.58
[1470 | 3428.30] loss=1.07 avg=1.57
[1480 | 3451.38] loss=0.94 avg=1.56
[1490 | 3474.45] loss=0.81 avg=1.55
[1500 | 3497.52] loss=0.86 avg=1.55
Saving checkpoint/run1/model-1500
======== SAMPLE 1 ========
, "How to learn Python with Data Science"https://t.co/aDU00s6J3f#DataScience #MachineLearning #Python #DataScience<|endoftext|>
<|startoftext|>Day 9 of #66DaysOfData! "Machine Learning" by AndrewYNg on #Coursera.Part of the course:- Week5/Regularization: Logistic regression, decision trees and random forest.<|endoftext|>
<|startoftext|>Day 3: 2nd round #66daysofdata - completed project of analysis - covered next ML algorithms- started EDA - still not done with it but interested to learn more about web scrapingIt's probably not the most interesting topic, but I can say it's important.https://t.co/A7sS2jEeZn<|endoftext|>
<|startoftext|>Day 7: 2nd round #66daysofdata - completed project of data visualization on @HackerRank It's not sure if I'll continue, but i'm excited to try and watch how it goes!<|endoftext|>
<|startoftext|>Day 3 of #66daysofdata.I used the time to brush up on some statistics.I learnt about the distributions and different means of doing the EDA. I also interacted with some datasets and played around with them.<|endoftext|>
<|startoftext|>Day 3 of #66DaysOfData:- Started 'Data Analytics' by Jose Portilla- Learned more about Python in Private Quantopian<|endoftext|>
<|startoftext|>I missed yesterday so I'm on Day 2 now!- Participated in #RandomIntelligence Experiment (SKU) on #kaggle using the COLLECTION fundai dataset on #kagglehttps://t.co/QmWqxW7R6I #DataScience  #DataAnalytics #DataScientist #66daysofdata  v2 @KenJee_DShttps://t.co/4s2WK7ztJZ<|endoftext|>
<|startoftext|>Day 1 of #66daysofdata : Reviewing Multiple Regression: R2- Regression Model Read more about R2- Regression Model on @Codecademy https://t.co/P2NTb0RlSj.  This time around, I mainly learned about R2<|endoftext|>
<|startoftext|>@KenJee_DS Thanks, I'll be happy if I re-post my progress too. I learned a lot still though! #66DaysOfData is officially over for me, because I managed to finish my #DataAnalytics book and start my Python journey.#DataScience#100DaysOfCode #Python #DataScientist #66daysofdata https://t.co/M6Vh1W9mM7<|endoftext|>
<|startoftext|>Day 3 of #66daysofdata:Completed the week in a few #nflfastR theory sessions with @CoreyMSchafer. Never thought I'd be able to make something like this:1/3<|endoftext|>
<|startoftext|>Day 3 of #66daysofdata!Watched a couple of videos on how to get a machine learning brush-on from @dataleaptech (https://t.co/Wd3PXg5tkq). Need to brush up on some basics in order to brush up on @zerotomasteryio and his amazing videos<|endoftext|>
<|startoftext|>#66DaysOfData with @KenJee_DS round 2 day #28 and round 2 day #31:-&gt; Gave my day job interview as a data analyst and also went on a Data Engineering Explained podcast vid @KenJee_DS.It's definitely refreshing to go through his journey and hear his journey-level challenges and challenges that he has gone through.https://t.co/IgSIGJW3B3<|endoftext|>
<|startoftext|>Day 27 of #66daysofdataStarted working on an assignment for a customer research organization.  Implementing Machine Learning Algorithm utilizing Ridge and Bayesian methods.#datascience #machinelearning #python<|endoftext|>
<|startoftext|>Day 28: ML with R #66daysofdata<|endoftext|>
<|startoftext|>Day 20 of #66daysofdata R2- Today was a light session.

[1510 | 3532.13] loss=1.29 avg=1.54
[1520 | 3555.28] loss=0.85 avg=1.53
[1530 | 3578.41] loss=0.91 avg=1.53
[1540 | 3601.52] loss=0.84 avg=1.52
[1550 | 3624.59] loss=0.60 avg=1.51
[1560 | 3647.65] loss=0.90 avg=1.50
[1570 | 3670.71] loss=0.87 avg=1.49
[1580 | 3693.75] loss=0.85 avg=1.48
[1590 | 3716.81] loss=0.93 avg=1.47
[1600 | 3739.86] loss=0.99 avg=1.47
[1610 | 3762.97] loss=1.02 avg=1.46
[1620 | 3786.09] loss=0.81 avg=1.46
[1630 | 3809.19] loss=0.72 avg=1.45
[1640 | 3832.31] loss=1.12 avg=1.44
[1650 | 3855.46] loss=0.85 avg=1.43
[1660 | 3878.61] loss=1.03 avg=1.43
[1670 | 3901.78] loss=0.78 avg=1.42
[1680 | 3924.93] loss=0.83 avg=1.41
[1690 | 3948.08] loss=0.84 avg=1.41
[1700 | 3971.21] loss=0.75 avg=1.40
[1710 | 3994.35] loss=0.75 avg=1.39
[1720 | 4017.48] loss=1.01 avg=1.39
[1730 | 4040.62] loss=0.87 avg=1.38
[1740 | 4063.73] loss=0.80 avg=1.37
[1750 | 4086.85] loss=0.99 avg=1.37
[1760 | 4109.98] loss=0.91 avg=1.36
[1770 | 4133.09] loss=0.61 avg=1.35
[1780 | 4156.20] loss=0.86 avg=1.35
[1790 | 4179.31] loss=0.65 avg=1.34
[1800 | 4202.42] loss=0.88 avg=1.33
[1810 | 4225.53] loss=0.71 avg=1.33
[1820 | 4248.67] loss=0.63 avg=1.32
[1830 | 4271.81] loss=0.69 avg=1.31
[1840 | 4294.94] loss=0.81 avg=1.31
[1850 | 4318.06] loss=0.65 avg=1.30
[1860 | 4341.17] loss=0.76 avg=1.29
[1870 | 4364.30] loss=0.76 avg=1.28
[1880 | 4387.44] loss=0.60 avg=1.28
[1890 | 4410.57] loss=0.62 avg=1.27
[1900 | 4433.67] loss=0.64 avg=1.26
[1910 | 4456.77] loss=0.61 avg=1.25
[1920 | 4479.89] loss=0.77 avg=1.25
[1930 | 4502.99] loss=0.72 avg=1.24
[1940 | 4526.09] loss=0.56 avg=1.23
[1950 | 4549.22] loss=0.75 avg=1.23
[1960 | 4572.34] loss=0.83 avg=1.22
[1970 | 4595.46] loss=0.53 avg=1.22
[1980 | 4618.57] loss=0.55 avg=1.21
[1990 | 4641.72] loss=0.58 avg=1.20
[2000 | 4664.85] loss=0.72 avg=1.20
Saving checkpoint/run1/model-2000

In [6]:
# Zip run in checkpoint folder
!zip -r /content/run1.zip /content/checkpoint/run1

  adding: content/checkpoint/run1/ (stored 0%)
  adding: content/checkpoint/run1/model-2000.data-00000-of-00001 (deflated 7%)
  adding: content/checkpoint/run1/model-2000.meta (deflated 91%)
  adding: content/checkpoint/run1/counter (stored 0%)
  adding: content/checkpoint/run1/model-2000.index (deflated 62%)
  adding: content/checkpoint/run1/events.out.tfevents.1619339169.0cf9f22a178c (deflated 61%)
  adding: content/checkpoint/run1/encoder.json (deflated 67%)
  adding: content/checkpoint/run1/checkpoint (deflated 40%)
  adding: content/checkpoint/run1/vocab.bpe (deflated 53%)
  adding: content/checkpoint/run1/hparams.json (deflated 28%)

In [9]:
!unzip /content/run1.zip

Archive:  /content/run1.zip
   creating: content/checkpoint/run1/
  inflating: content/checkpoint/run1/model-2000.data-00000-of-00001
  inflating: content/checkpoint/run1/model-2000.meta
 extracting: content/checkpoint/run1/counter
  inflating: content/checkpoint/run1/model-2000.index
  inflating: content/checkpoint/run1/events.out.tfevents.1619339169.0cf9f22a178c
  inflating: content/checkpoint/run1/encoder.json
  inflating: content/checkpoint/run1/checkpoint
  inflating: content/checkpoint/run1/vocab.bpe
  inflating: content/checkpoint/run1/hparams.json

In [20]:
gpt2.generate(sess, run_name='run1')

Ken Jee‚Äôs next step might be to start a data science book.  Not gonna lie. It's gonna take time.  But, ya, ya! :) #66daysofdata<|endoftext|>
<|startoftext|>Day 25 of #66daysofdata:I've completed the Introduction to the Tidyverse course on Dataquest. It's one of my favorite parts of the course, it's good people I know and use Text Analysis and Data Wrangling for data science.<|endoftext|>
<|startoftext|>Day 3 of #66daysofdata :I've completed the Pandas course on Kaggle! https://t.co/Zq2ubw2kYM<|endoftext|>
<|startoftext|>Day 25: I had watched: Tutorial for Understanding and Visualizing Machine Learning in Python: https://t.co/yVZ9qJit2F #66daysofdata #datascience https://t.co/Zj7m9Z5zPs<|endoftext|>
<|startoftext|>Day 25 of #66daysofdata:I finished the kaggle python course. I‚Äôm also going to start a data science one :)<|endoftext|>
<|startoftext|>Day 25 of #66daysofdataSQL Revisit:SQL statements are not required when working with large strings. (char, aggregate, timestamp)‚Ä¢ working with large strings in excel‚Ä¢ using a dict to organise values in the dataframe‚Ä¢ working with large strings in python<|endoftext|>
<|startoftext|>Day 6 of #66daysofdataRead Chapter 3 of "Hands-On Machine Learning" which explored the use of RNNs and LSTMs in classification problems. @KenJee_DS<|endoftext|>
<|startoftext|>Day 25 of #66daysofdata: Classification performance of COVID-19 confirmed that the model is correct. The model predictions are pretty good, even with multiple features in the model. The main issue is that the training time is shorter than the test time.#DataScience #MachineLearning https://t.co/Ibd8Cj9MpT<|endoftext|>
<|startoftext|>Day 25 of #66daysofdata: Today, I started the second course of the Tensorflow Developer Certificate Specialisation @coursera, and volunteered for Houston Food Bank for ~ 3 hours while everybody is watching elections (:<|endoftext|>
<|startoftext|>#100DaysOfCode #66daysofdata Day 1 (Sept 25) : - Spent about an hour learning data structures.- Learnt about NLP and computational vision.- Worked on a notebook about numerai (hours to build it).<|endoftext|>
<|startoftext|>Day 25 of #66daysofdata: I started the 'Feature Engineering' course on Kaggle. I'm looking forward to applying this knowledge into my projects!<|endoftext|>
<|startoftext|>Day 25 of #66daysofdata:Finished "Intro to importing SQL data" on Data Camp.<|endoftext|>
<|startoftext|>Day 25 of #66daysofdata:  Today, I started  SQL Zoo, the first supervised learning model in which I will learn and apply some of the supervised learning principles from the book. @KenJee_DS<|endoftext|>
<|startoftext|>Day 25 of #66daysofdata: Today, I finished Kaggle's Geospatial Analysis mini-course, I completed the assignment "Using OOPs in Kaggle Compose". It's a good course summary and a good reason to take this #DataScience course. https://t.co/YsAZqrteLQ<|endoftext|>
<|startoftext|>Day 9 of #66DaysOfDataCompleted the Boolean and Conditional probability modules in the Data Structures and Algorithms courseAdded code to my in-built functions in my functions.hs book. PS: Now I can use all the theory that I learnt working with LSTM to my advantage.Book Link: https://t.co/z9aLt8YANN https://t.co/q3qV5qjsC<|endoftext|>
<|startoftext|>Day 12 of #66daysofdata: Today, I finished the Boolean and Conditional probability modules in the Data Structures and Algorithms course on @cour